# 

if [ -z "$HOMEBREW_GITHUB_API_INCLUDED" ]; then
  HOMEBREW_GITHUB_API_INCLUDED=yes
  export HOMEBREW_GITHUB_API_INCLUDED

  HOMEBREW_GITHUB_API_TOKEN={{ GITHUB_API_TOKEN }}
  export HOMEBREW_GITHUB_API_TOKEN
fi
